[Unit]
Description=BLIP Caption Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
WorkingDirectory=/home/ubuntu/BLIP/
User=ubuntu
ExecStart=python3 /home/ubuntu/BLIP/server.py

[Install]
WantedBy=multi-user.target
