[Unit]
Description=Inception v3 Caption Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
WorkingDirectory=/home/ubuntu/inception_v3/
User=ubuntu
ExecStart=python3 /home/ubuntu/inception_v3/server.py

[Install]
WantedBy=multi-user.target
