[Unit]
Description=YOLOv7 Caption Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
WorkingDirectory=/home/ubuntu/yolov7/
User=ubuntu
ExecStart=python3 /home/ubuntu/yolov7/detect-server.py

[Install]
WantedBy=multi-user.target
