[Unit]
Description=YOLOv7 Caption Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=sd
WorkingDirectory=/home/sd/yolov7
ExecStart=python3 /home/sd/yolov7/detect-server.py

[Install]
WantedBy=multi-user.target
